*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    margin: 0 auto;
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}


.box{
    padding-top: 15px;
    color: white;
    min-height: 50vh;
    width:250px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    gap: 30px;
    img{
        height: 200px;
        width: 150px;
    }
    p{
        text-align: center;
    }
    h2{
        text-align: center;
    }
}


.box:nth-child(5){
    background-color: red;

}

.box:nth-child(2){
    background-color: purple;
    
}

.box:nth-child(3){
    background-color: blue;
    
}

.box:nth-child(4){
    background-color: darkgreen;

}
.box:nth-child(6){
    background-color: brown;

}
